<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Weather location</title>


    <style>
        h2{
            color: aqua;
    background-color: gray;
        }
        .header1{
             
            display: inline-block;
            margin: 10px 20px;
        }
        .header1 a{
            
            text-decoration: none;
            color:#000;
            font-size: 25px;
            margin: 0 20px;

        }
    </style>
</head>
<body>
    

    <div class="header1">
        <a href="/">Home</a>
        <a href="countryinfo">Check Weather</a>
        <a href="contact">Contact</a>
    </div>
        <h2 class="hedt1"> Welcome to {{title}}</h2>
   
</body>
</html>
